In [2]:
import pandas as pd

In [3]:
survey1 = pd.read_csv('../example-data/survey-1.csv')
survey1_res = pd.read_csv('../example-data/survey-1-responses.csv', header=None)
survey2 = pd.read_csv('../example-data/survey-2.csv')
survey2_res = pd.read_csv('../example-data/survey-2-responses.csv', header=None)
survey3 = pd.read_csv('../example-data/survey-3.csv')
survey3_res = pd.read_csv('../example-data/survey-3-responses.csv', header=None)

In [54]:
print("survey1",survey1.info())
print("survey1-res",survey1_res.info())
print("survey2",survey2.info())
print(survey2_res.info())
print(survey3.info())
print(survey3_res.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
theme    5 non-null object
type     5 non-null object
text     5 non-null object
dtypes: object(3)
memory usage: 200.0+ bytes
survey1 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
0    3 non-null object
1    6 non-null int64
2    5 non-null object
3    5 non-null float64
4    5 non-null float64
5    5 non-null float64
6    5 non-null float64
7    5 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 464.0+ bytes
survey1-res None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
theme    5 non-null object
type     5 non-null object
text     5 non-null object
dtypes: object(3)
memory usage: 200.0+ bytes
survey2 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
0    0 non-null float64
1    5 non-null int64
2    5 non-null object
3    5 non-null int64
4    5 non-null int64
5    5 non-null int64
6    5 non-null int64
7    5 non-null object
dtypes: float64(1), int64(5), object(2)
memory usage: 400.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
type     5 non-null object
theme    5 non-null object
text     5 non-null object
dtypes: object(3)
memory usage: 200.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
0    5 non-null object
1    0 non-null float64
2    0 non-null float64
3    3 non-null float64
4    5 non-null int64
5    4 non-null object
6    5 non-null int64
7    5 non-null object
dtypes: float64(3), int64(2), object(3)
memory usage: 400.0+ bytes
None

In [5]:
survey1.head(10)

,theme,type,text
0,The Work,ratingquestion,I like the kind of work I do.
1,The Work,ratingquestion,"In general, I have the resources (e.g., busine..."
2,The Work,ratingquestion,We are working at the right pace to meet our g...
3,The Place,ratingquestion,I feel empowered to get the work done for whic...
4,The Place,ratingquestion,I am appropriately involved in decisions that ...

In [129]:
survey1_res.head(20)

                   0  1                          2    3    4    5    6    7
0  employee1@abc.xyz  1  2014-07-28T20:35:41+00:00  5.0  5.0  5.0  4.0  0.0
1                NaN  2  2014-07-29T07:05:41+00:00  4.0  7.0  5.0  3.0  3.0
2                NaN  3  2014-07-29T17:35:41+00:00  5.0  5.0  5.0  5.0  4.0
3  employee4@abc.xyz  4  2014-07-30T04:05:41+00:00  5.0  5.0  5.0  4.0  4.0
4                NaN  5  2014-07-31T11:35:41+00:00  4.0  5.0  5.0  2.0  3.0
5  employee5@abc.xyz  6                        NaN  NaN  NaN  NaN  NaN  NaN

In [128]:
survey1_res[7][0]=0.0

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
survey2.head()

      theme            type                                               text
0  The Work  ratingquestion                      I like the kind of work I do.
1  The Work  ratingquestion  In general, I have the resources (e.g., busine...
2  The Work  ratingquestion  We are working at the right pace to meet our g...
3  The Work  ratingquestion  I feel empowered to get the work done for whic...
4  The Work    singleselect                                            Manager

In [56]:
survey2_res.head()

    0  1                          2  3  4  5  6      7
0 NaN  1  2014-07-28T20:35:41+00:00  5  5  5  4  Sally
1 NaN  2  2014-07-29T07:05:41+00:00  4  5  5  3   Jane
2 NaN  3  2014-07-29T17:35:41+00:00  5  5  5  5   John
3 NaN  4  2014-07-30T04:05:41+00:00  5  5  5  4    Bob
4 NaN  5  2014-07-31T11:35:41+00:00  4  5  5  2   Mary

In [22]:
# note column order needs to be the same as the others to perform concat
survey3.head()

,type,theme,text
0,ratingquestion,The Work,I like the kind of work I do.
1,ratingquestion,The Work,I have the resource I need to be effective.
2,singleselect,Demographics,City
3,ratingquestion,The Work,I feel empowered to get the work done for whic...
4,singleselect,Demographics,Manager

In [233]:
print(list(survey1.columns))

['theme', 'type', 'text']

In [224]:
survey3_res.head()

                   0   1   2    3  4          5  6      7
0  employee1@abc.xyz NaN NaN  5.0  5      Perth  4  Sally
1  employee2@abc.xyz NaN NaN  NaN  5     Sydney  3   Jane
2  employee2@abc.xyz NaN NaN  NaN  5        NaN  5   John
3  employee2@abc.xyz NaN NaN  5.0  5  Melbourne  4    Bob
4  employee2@abc.xyz NaN NaN  4.0  5     Darwin  2   Mary

In [18]:
#Import Functions
class Import(object):
        
    def __checkSurveyQs(self, survey):
        #private
        #check survey schema must contain columns type, theme, text
        #first check if there is a survey if not fail straight away
        if survey is None:
            raise Exception("Please import a survey")
        
        checkList = ['theme', 'type', 'text']
        for colName in list(survey.columns):
            if colName in checkList:
                #print(checkList)
                #remove this name from check list if present
                checkList.remove(colName)
        if len(checkList) != 0:    
            raise Exception("{0} columns is not in the imported file please load again".format(checkList))

    def __checkSurveyRes(self, survey, survey_res):
        #private
        #check survey result number of response columns must be the same as the number of questions on the survey
        #otherwise fail the import until they match.
        #first check if there is a survey_res if not fail straight away
        if survey_res is None:
            raise Exception("Please import a survey response")
        numberOfQs = len(survey)
        numberOfResp = len(list(survey_res.iloc[:,3:].columns))
        #print(numberOfQs, numberOfResp)
        if numberOfQs != numberOfResp:
            raise Exception("{0} questions were asked in the survey but there are {1} responses please check".format(numberOfQs, numberOfResp))
    
    def importSurveys(self, file_path):
        #private
        #Check if file can be loaded into a dataframe 
        try:
            #remember to no header for responses
            if 'response'in file_path:
                df = pd.read_csv(file_path, header=None)
            else:
                df = pd.read_csv(file_path)
        except Exception as err:
            print("Import error encountered, please try again:", err)
        else:
            return df
        
    def checkSurveys(self, survey, survey_res):
        self.__checkSurveyQs(survey)
        self.__checkSurveyRes(survey, survey_res)
        
#Generate fake data to check response to incorrect columns loaded
# fakeSurvey = pd.read_csv('../example-data/survey-2.csv')
# fakeSurvey.columns = ['theme', 'type', 'thisIsFake']
# checkSurvey(fakeSurvey)

# Generate fake data to check survey result
# fakeSurvey_res = pd.read_csv('../example-data/survey-2-responses.csv')
# #add extra column at the end this should give an error as there is more responses than questions asked
# fakeSurvey_res['extraColumn']='test'
# checkSurveyRes(survey2, fakeSurvey_res)

importOb = Import()

survey = importOb.importSurveys(input())
survey_res = importOb.importSurveys(input())

print(survey)
print(survey_res)

importOb.checkSurveys(survey, survey_res)

../example-data/survey-1.csv
../example-data/survey-1-responses.csv
       theme            type  \
0   The Work  ratingquestion
1   The Work  ratingquestion
2   The Work  ratingquestion
3  The Place  ratingquestion
4  The Place  ratingquestion

                                                text
0                      I like the kind of work I do.
1  In general, I have the resources (e.g., busine...
2  We are working at the right pace to meet our g...
3  I feel empowered to get the work done for whic...
4  I am appropriately involved in decisions that ...
                   0  1                          2    3    4    5    6    7
0  employee1@abc.xyz  1  2014-07-28T20:35:41+00:00  5.0  5.0  5.0  4.0  4.0
1                NaN  2  2014-07-29T07:05:41+00:00  4.0  5.0  5.0  3.0  3.0
2                NaN  3  2014-07-29T17:35:41+00:00  5.0  5.0  5.0  5.0  4.0
3  employee4@abc.xyz  4  2014-07-30T04:05:41+00:00  5.0  5.0  5.0  4.0  4.0
4                NaN  5  2014-07-31T11:35:41+00:00  4.0  5.0  5.0  2.0  3.0
5  employee5@abc.xyz  6                        NaN  NaN  NaN  NaN  NaN  NaN

In [16]:
survey_res

   employee1@abc.xyz  Unnamed: 1  Unnamed: 2    5  5.1      Perth  4 Sally
0  employee2@abc.xyz         NaN         NaN  NaN    5     Sydney  3  Jane
1  employee2@abc.xyz         NaN         NaN  NaN    5        NaN  5  John
2  employee2@abc.xyz         NaN         NaN  5.0    5  Melbourne  4   Bob
3  employee2@abc.xyz         NaN         NaN  4.0    5     Darwin  2  Mary

In [22]:
#The participation percentage and total participant counts of the survey.
comment=""
#the business rule defining participation may need to be revisited, because in survey 3 all participants
#don't have a submitted date but they still have ratings for the rating questions (although some is null)
#for the purpose of this exercise I have just gone ahead with the business rules defined in the problem statement
#However it will be weird having average ratings and no one participated.
class PPCalcs(object):
    def __init__(self, survey_res, comment):
        self.survey_res = survey_res
        self.comment = comment
        
    def __ppCount(self, survey_res):
        #private
        return len(survey_res[2].dropna())

    def __ppPercent(self, survey_res, ppCount):
        #private
        countTotal = len(survey_res[2])
        ppPercent = ppCount/max(countTotal,1) * 100
        #nice formatting to 1 decimal places
        return "{0:0.1f}%".format(ppPercent)
    
    def ppCalc(self):
        ppCount = self.__ppCount(self.survey_res)
        ppPercent = self.__ppPercent(self.survey_res, ppCount)
        return ppCount, ppPercent
    
ppCalc = PPCalcs(survey2_res, comment)
ppCount, ppPercent = ppCalc.ppCalc()
print(ppCount, ppPercent)

5 100.0%

In [23]:
#Business logic calculate average of rating question
#first need to determine index of questions and whether or not its a rating question
comment = ""
class AverageRating(object):
    
    def __init__(self, survey, survey_res, comment):
        self.survey = survey
        self.survey_res = survey_res
        self.comment = comment
    
    def __rowIndexRQ(self, survey):
        #private
        #returns row index of rating question, takes in a dataframe of survey questions
        return list(survey.loc[survey.type=="ratingquestion","type"].index.values)

    def __colRQ(self, rowIndex, survey_res):
        #private
        #this function returns columns from survey results that just has the ratings in it (incl. nulls) and the col-index
        #add 3 to index as responses start with column 3
        colIndex = [x+3 for x in rowIndex]
        RQ = survey_res.iloc[:,colIndex]
        return RQ, colIndex

    def __avg(self, RQ):
        #private
        #Calculates the averages of individual columns in the RQ dataframe. Nulls will be ignored.
        avgRQ=[]
        for col in list(RQ):
            #first drop all nans, we cannot calc average if we don't drop the NaNs
            ratings = RQ[col].dropna()
            avgRQ.append(float(sum(ratings)) / max(len(ratings), 1))
        return avgRQ

    def __dataQualityCheck(self, RQ,comment):
        #private
        #Checks for value range being 1-5 and if integer or not adds anomolies to a comment string
        for col in list(RQ):
            if len(RQ.loc[RQ[col]<1,:]) != 0:
                comment += "\ncolumn {0} has a value less than 1.".format(col)
            if len(RQ.loc[RQ[col]>5,:]) != 0:
                comment += "\ncolumn {0} has a value greater than 5.".format(col)
            if RQ[col].dtype != "int64":
                comment += "\ncolumn {0} in survey response has a type other than integer.".format(col)
        return comment

    def __createDict(self, survey, rowIndex, avgRQ):
        #private
        #returns key value pairs with the key being the question and the value being the average ratings
        #Notice that the length of avgRQ list is sufficient information to create our dictionary 
        avgs={}
        for (index, i) in enumerate(rowIndex):
            #i is the number in the rowIndex list where as index is the loops index
            qs = survey["text"][i]
            avgs[qs] = avgRQ[index]
        return avgs
    
    def avgRating(self):
        #public
        #average rating, takes in survey and survey_res outputs a dictionary with rating question and average rating
        rowIndex = self.__rowIndexRQ(self.survey)

        RQ, colIndex = self.__colRQ(rowIndex, self.survey_res)
        #remove all null rows with all condition only remove if all nans
        RQ = RQ.dropna(axis=0, how='all')

        #Data Quality Checks
        self.comment += self.__dataQualityCheck(RQ, self.comment)

        avgRQ = self.__avg(RQ)
        avgs = self.__createDict(self.survey, rowIndex, avgRQ)

    #     print(RQ)
    #     print(comment)
    #     print(avgRQ)
    #     print(avgs)
        #Calculate average
        return avgs, self.comment

    
#initialise object
avgRQ = AverageRating(survey1,survey1_res, comment)

avgs, comment = avgRQ.avgRating()
#check if int between 1-5, report data quality issue if something is not right, because if it's classified as a 
#rating question response must be int and between 1-5. 
print(avgs)
print(comment)

{'I like the kind of work I do.': 4.6, 'In general, I have the resources (e.g., business tools, information, facilities, IT or functional support) I need to be effective.': 5.0, 'We are working at the right pace to meet our goals.': 5.0, 'I feel empowered to get the work done for which I am responsible.': 3.6, 'I am appropriately involved in decisions that affect my work.': 3.6}

column 3 in survey response has a type other than integer.
column 4 in survey response has a type other than integer.
column 5 in survey response has a type other than integer.
column 6 in survey response has a type other than integer.
column 7 in survey response has a type other than integer.

In [29]:
#Export functions which is a print screen for now
class Export(object):
    def __init__(self, ppCount, ppPercent, avgs, comment):
        self.ppCount = ppCount
        self.ppPercent = ppPercent
        self.avgs = avgs
        self.comment = comment
        
    def displayRes(self):
        print("Survey Summary as Follows:\n")
        print("""
    Participant Count: {0}\n
    Participation Percentage {1}\n
        """.format(self.ppCount, self.ppPercent))

        #print all elements within the dictionary
        print("Questions and Ratings\n")
        for k, v in self.avgs.items():
            print("""
    {0}: {1}\n
            """.format(k,v))

        #print comments
        print("""
Data Quality Comments:\n
    {0}""".format(self.comment))

export = Export(ppCount, ppPercent, avgs, comment)
export.displayRes()

Survey Summary as Follows:


    Participant Count: 5

    Participation Percentage 100.0%


Questions and Ratings


    I like the kind of work I do.: 4.6



    In general, I have the resources (e.g., business tools, information, facilities, IT or functional support) I need to be effective.: 5.0



    We are working at the right pace to meet our goals.: 5.0



    I feel empowered to get the work done for which I am responsible.: 3.6



    I am appropriately involved in decisions that affect my work.: 3.6



    Data Quality Comments:


column 3 in survey response has a type other than integer.
column 4 in survey response has a type other than integer.
column 5 in survey response has a type other than integer.
column 6 in survey response has a type other than integer.
column 7 in survey response has a type other than integer.

In [ ]:
df.dropna(axis=0, how='all')

In [115]:
survey1_res[5].dtype == 'int64'

False

In [ ]:
#load in sample data
sample = pd.read_csv('sample1.csv')
patients = pd.read_csv('Lookups/patients.txt', sep = '\t')
illness = pd.read_csv('Lookups/ChronicIllness_LookUp.txt', sep = '\t')
drugs = pd.read_csv('Lookups/Drug_LookUp.txt', sep = '\t')
df = pd.read_csv(file_path, header=None, usecols=[3,6])

In [ ]:
data.info()

In [ ]:
sample = sample.ix[(sample['age']>=30) & (sample['age']<=50),('Drug_ID','age')]
sample.to_csv('sample_10_age_30-50')

In [ ]:
sample1 = sample['Dispense_Week'].str.split('-', expand = True)
sample1 = sample1.drop(sample1.columns[2], axis=1)
sample['Dispense_Month'] = sample1[1]
sample['Dispense_Year'] = sample1[0]
d = pd.concat([d1,d2])
sample1 = data['Dispense_Week'].str.split('-', expand = True)
data = data[data['column name'].notnull()]

In [142]:
[None,None,2,3].dropna()

AttributeError: 'list' object has no attribute 'dropna'

In [30]:
def this_fails():
    x = 1/0
try:
    this_fails()
except Exception as err:
    print("Handling run-time error:", err)

Handling run-time error: division by zero

In [ ]:
#wild card syntax checks file in directory

In [55]:
#reshuffling columns around to perform concat, use the first file's schema to change the rest of the files
#assume wildcard insert worked so all dataframes are df1, df2, df3 etc\

df1 = survey1
df2 = survey2
df3 = survey3
#get header of first df


#list of dataframes
# dfs = [df1,df2,df3]

def orderColumns(*dfs):
    
    dfs = list(dfs)
    header = list(dfs[0])
    
    for (index,df) in enumerate(dfs):
        if list(df)==header:
            continue
        else:
            dfs[index] = dfs[index][header]
            
    return dfs

df1,df2,df3 = orderColumns(df1,df2,df3)

In [51]:
df2

      theme            type                                               text
0  The Work  ratingquestion                      I like the kind of work I do.
1  The Work  ratingquestion  In general, I have the resources (e.g., busine...
2  The Work  ratingquestion  We are working at the right pace to meet our g...
3  The Work  ratingquestion  I feel empowered to get the work done for whic...
4  The Work    singleselect                                            Manager